#photogrid {
    background-color: #f3f3f3;
}

^contentpage {
    background-color: #f3f3f3;
}

.bluebutton {
    font-style: bold;
    font-size: medium;
    background-color: #005c90;
    color: white;
}

.graybutton {
    font-style: bold;
    font-size: medium;
    background-color: #9b9b9b;
    color: white;
}

.greenbutton {
    font-style: bold;
    font-size: medium;
    background-color: green;
    color: white;
}

.imgbackground {
    background-color: #9b9b9b
}

#commentsList {
    padding: 10px;
}